 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>


<div id="searchwrapper">
	<div class="form-group">
			<input type="text" placeholder="Search for a Service or an Expert" >
		<div id="search">
			<button type="submit"class= "btn btn-success">Search</button>
		</div>
	</div>
</div><!--search page ends !-->		

<br>
<br>





        <!-- BEGIN NEWSLETTER SECTION -->
<section id="newsletter">
  <div class="container">
    <div class="row">
      <div class="span12">
      <h2>JOIN OUR NEWSLETTER</h2>
        <form method="post" action="#" id="newsletterform" data-mailchimp="xtrue">
          <div>
            <input type="text" class="input-field" id="newsletter-name" name="newsletter-name" placeholder="Enter your name">
            <input type="text" class="input-field" id="newsletter-email" name="newsletter-email" placeholder="Enter your email">
            <a id="button-newsletter" class="button" href="#" title="Subscribe now">Subscribe now</a>            
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- END NEWSLETTER SECTION -->

<!-- BEGIN COPYRIGHT SECTION -->
<section class="copyright">
    <div class="container">
      <div class="row">
        <div class="span12">
              <!-- BEGIN FOOTER LOGO -->
              <div id="logo">
                <!--<p><a href="/" class="logo"><img src="images/logo.png" alt="logo"/></a> !-->
              </div>  
              <!-- END FOOTER LOGO -->  
                    
              <p class="copyright-left"> NITK <a href="#" target="_blank">EFOREA Initiative</a>.</p>
              
              <!-- BEGIN FOOTER MENU -->              
             <div class="copyright-right">
                <ul class="footer-menu">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Developers</a></li>
                  <li><a href="#">Services</a></li>                         
                </ul>
              </div>
              <!-- END FOOTER MENU -->
              
        </div><!-- END SPAN -->
      </div><!-- END ROW -->
    </div><!-- END CONTAINER -->
  <div class="clear"></div>
</section><!-- END COPYRIGHT SECTION -->
</footer><!-- END FOOTER -->
