// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 1.5;
	color: white;
	background: #ffffff
}
a {
	text-decoration: none;
	color: mediumaquamarine;
}
a:hover {
	text-decoration: none;
}
a:hover, a:active, a:focus, object, embed, input::-moz-focus-inner {
 outline:0
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 23px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 19px;
}
h5 {
	font-size: 17px;
}
h6 {
	font-size: 15px;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 20px;
}
ol {
	list-style: decimal;
}
ul {
	list-style: disc;
}
.clear {
	display: block;
	width: 100%;
	float: left;
	clear: both;
}
section {
	position: relative
}
#newsletterform {
	margin-top: 0;
	display: block;
	text-align: center;
}
#newsletterform div {
	display: inline-block;
}
#newsletterform input {
	height: 40px;
	display: inline-block;
	width: 300px;
	padding: 0 10px;
	margin: 8px 4px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	border: 1px solid rgb(255, 255, 255);
	box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.1);
	color: #D6D3D3;
}
#newsletterform label {
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,.25);
	font-size: 12px
}
a#button-newsletter {
	color: #fff;
	font-size: 16px;
	display: block;
	padding: 0;
	width: 99%;
	margin: 0 auto;
}
/* ------------------------------------------------------------------------ */
/* BUTTONS
/* ------------------------------------------------------------------------ */
.button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0,0,0,.3), inset 0 -20px 50px rgba(0,0,0,.1), inset 0 1px 1px rgba(255,255,255,.3);
	background: mediumaquamarine;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.2));
	background-image: -webkit-gradient(linear, left top, left bottom, from( rgba(255, 255, 255, 0)), to( rgba(0, 0, 0, 0.2)));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) rgba(0, 0, 0, 0.2));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));

	padding: 0px 15px 4px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	border: 1px solid mediumaquamarine;
	border-bottom: none;
	font-weight: 300;
	line-height: 40px;
	height: 40px;
	transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-webkit-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	display: inline-block;
}
.button:hover {
	background: mediumaquamarine;
}




/* ------------------------------------------------------------------------ */
/* FOOTER SECTION
/* ------------------------------------------------------------------------ */

footer {
	background: #363f48;
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,.25);
	position: relative;
	text-align: center;
}
.copyright-left {
	line-height: 40px;
	float: left
}
footer a {
	text-decoration: none
}
footer a:hover {
	color: #fff!important;
	text-decoration: none
}
.copyright-right {
	float: right;
	line-height: 40px;
	margin: 0
}

footer a {
	color: mediumaquamarine
}
/* ------------------------------------------------------------------------ */
/* SERVICE BOXES
/* ------------------------------------------------------------------------ */
.rnr-service-box-center {
	text-align: center;
	padding: 10px;
	margin-bottom: 30px;
}
.rnr-service-box-center .rnr-service-box-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}
.rnr-service-box-center .rnr-service-box-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}

.rnr-service-box-center .rnr-service-box-title {
	margin-bottom: 5px;
	text-align: center;
	display: block;
	color: mediumaquamarine;
	font-weight: normal;
}
.rnr-service-box-center .rnr-service-box-content p {
	display: block;
	clear: both;
	text-align: center;
}
.rnr-service-box-content p {
	display: block;
	clear: both;
}
.container .rnr-service-box-center {
	border-right: 1px solid #f0f0f0;
}
.container [class*="span"]:last-child .rnr-service-box-center {
	border-right: none;
}/* ------------------------------------------------------------------------ */
/* SERVICE BOXES LEFT
/* ------------------------------------------------------------------------ */
.rnr-service-box-left {
	position: relative;
	margin-bottom: 15px;
}
.rnr-service-box-left .rnr-service-box-icon {
	position: absolute;
	left: 0px;
	top: 0px;
	text-align: center;
}
.rnr-service-box-left .rnr-service-box-content {
	margin-left: 70px;
}
.rnr-service-box-left .rnr-service-box-icon img {
	max-width: 60px;
}
.rnr-service-box-left .rnr-service-box-title {
	margin-bottom: 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: mediumaquamarine;
}
.rnr-service-box-left .rnr-service-box-content p {
	display: block;
	clear: both;
	width: 60%;
}/* ------------------------------------------------------------------------ */
/* COPYRIGHT SECTION
/* ------------------------------------------------------------------------ */
.copyright {
	margin-top: 40px;
	padding: 10px 0;
	background: rgba(0,0,0,0.1);
}


ul.footer-menu {
	font-size: 12px;
	padding-left: 5px;
	height: 40px;
}
ul.footer-menu {
	margin: 0;
	float: left;
}
ul.footer-menu>li {
	float: left;
	padding-right: 5px;
	margin-right: 5px;
	font-weight: bold;
	position: relative;
}
/* ------------------------------------------------------------------------ */
/* FULL WIDTH
/* ------------------------------------------------------------------------ */
.fullwidth {
	background: #f8f8f9;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	position: relative;
}
#fullwidth .container {
	display: table;
}
.fullwidth .text-container {
	margin-top: 30px;
	padding-bottom: 20px;
}
.fullwidth .img-container {
	position: relative;
	bottom: 0;
	right: 0;
	float: right;
	overflow: hidden;
}
/*-----------------------------------------------------------------------------------*/
/*	FANCY HEADER 
/*-----------------------------------------------------------------------------------*/
.fancy-header {
	margin: 30px 0;
	text-align: center;
}
.fancy-header h4, .fancy-header h2 {
	line-height: 1;
	margin-bottom: 0px;
}
.fancy-header h4 {
	border-bottom: 2px solid rgba(0,0,0,0.1);
	padding-bottom: 5px;
	margin-bottom: 7px;
	display: inline-block;
}
.fancy-header h2 {
	color: mediumaquamarine;
	font-weight: 300;
}